---
http_interactions:
- request:
    method: get
    uri: https://api.boardgameatlas.com/api/search?client_id&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Ratelimit-Limit:
      - '420'
      X-Ratelimit-Remaining:
      - '419'
      X-Ratelimit-Reset:
      - '1689780337'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e-VIr7aRxUP67Apyc65AFzQ8RsQEs"
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "message": "Error: client_id is required for api use"
          }
        }
  recorded_at: Wed, 19 Jul 2023 15:25:05 GMT
- request:
    method: get
    uri: https://api.boardgameatlas.com/api/search?client_id=<BOARD_GAME_ATLAS_CLIENT_ID>&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json, <BOARD_GAME_ATLAS_CLIENT_ID>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '420'
      X-Ratelimit-Remaining:
      - '419'
      X-Ratelimit-Reset:
      - '1692209111'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2782-FfAOda7OVUkJcSchxybT4/CVW84"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "games": [
            {
              "id": "anZbn8cYOz",
              "handle": "oath-chronicles-of-empire-and-exile",
              "url": "https://www.boardgameatlas.com/game/anZbn8cYOz/oath-chronicles-of-empire-and-exile",
              "bga_edit_url": "https://www.boardgameatlas.com/game/anZbn8cYOz/edit",
              "template_url": "/products/listing?objectId=anZbn8cYOz&product_line=Board Games&type=product",
              "name": "Oath: Chronicles of Empire and Exile",
              "price": "81.30",
              "price_ca": "15.95",
              "price_uk": "89.95",
              "price_au": "154.95",
              "msrp": 120,
              "msrps": [
                {
                  "country": "US",
                  "price": 120
                },
                {
                  "country": "CA",
                  "price": 0
                },
                {
                  "country": "UK",
                  "price": 120
                },
                {
                  "country": "AU",
                  "price": 0
                }
              ],
              "discount": "0.32",
              "year_published": 2021,
              "min_players": 1,
              "max_players": 6,
              "player_counts": [
                1,
                2,
                3,
                4,
                5,
                6
              ],
              "min_playtime": 45,
              "max_playtime": 120,
              "min_age": 8,
              "description": "<p><strong>Oath</strong> is an interactive strategy game about how history gets written. It's about regimes that endure and those that fall into ruin. There are no pre-scripted narratives, fancy production tricks, or procedurally-generated content. Instead, each player's choices determine the course of history and set the stage for the next contest.</p>",
              "commentary": "",
              "faq": "",
              "thumb_url": "https://s3-us-west-1.amazonaws.com/5cc.images/games/uploaded/1602181518247",
              "image_url": "https://s3-us-west-1.amazonaws.com/5cc.images/games/uploaded/1602181518247",
              "matches_specs": null,
              "specs": [],
              "mechanics": [
                {
                  "id": "9NBcz45nN7",
                  "url": "https://www.boardgameatlas.com/mechanic/9NBcz45nN7/undefined"
                },
                {
                  "id": "bgGxE0pI2B",
                  "url": "https://www.boardgameatlas.com/mechanic/bgGxE0pI2B/undefined"
                },
                {
                  "id": "iWODHwRGuU",
                  "url": "https://www.boardgameatlas.com/mechanic/iWODHwRGuU/undefined"
                },
                {
                  "id": "DwmsVEvNVd",
                  "url": "https://www.boardgameatlas.com/mechanic/DwmsVEvNVd/undefined"
                },
                {
                  "id": "u9IJEE1QBN",
                  "url": "https://www.boardgameatlas.com/mechanic/u9IJEE1QBN/undefined"
                }
              ],
              "categories": [
                {
                  "id": "ZTneo8TaIO",
                  "url": "https://www.boardgameatlas.com/category/ZTneo8TaIO/undefined"
                },
                {
                  "id": "TKQncFVX74",
                  "url": "https://www.boardgameatlas.com/category/TKQncFVX74/undefined"
                }
              ],
              "publishers": [
                {
                  "id": "jyc9bV7f9D",
                  "num_games": null,
                  "score": 9999999,
                  "game": {},
                  "url": "https://www.boardgameatlas.com/publisher/jyc9bV7f9D/undefined",
                  "images": {
                    "thumb": null,
                    "small": null,
                    "medium": null,
                    "large": null,
                    "original": null
                  }
                }
              ],
              "designers": [
                {
                  "id": "DJCmDFXmsh",
                  "num_games": null,
                  "score": 9999999,
                  "game": {},
                  "url": "https://www.boardgameatlas.com/designer/DJCmDFXmsh/undefined",
                  "images": {
                    "thumb": null,
                    "small": null,
                    "medium": null,
                    "large": null,
                    "original": null
                  }
                }
              ],
              "primary_publisher": {
                "id": "jyc9bV7f9D",
                "name": "Leder Games",
                "url": "https://www.tabletopgameindustry.com/publisher/jyc9bV7f9D/leder-games"
              },
              "primary_designer": {
                "id": "DJCmDFXmsh",
                "name": "Cole Wehrle",
                "url": "https://www.boardgameatlas.com/designer/DJCmDFXmsh/cole-wehrle"
              },
              "developers": [],
              "related_to": [],
              "related_as": [],
              "artists": [
                "Kyle Ferrin"
              ],
              "names": [],
              "rules_url": "http://bit.ly/35OY97g",
              "official_url": "http://ledergames.com/oath/?utm_source=boardgameatlas.com&utm_medium=search&utm_campaign=bga_ads",
              "sell_sheet_url": null,
              "store_images_url": null,
              "comment_count": 0,
              "num_user_ratings": 27,
              "average_user_rating": 4.1648148148148145,
              "historical_low_prices": [
                {
                  "country": "AU",
                  "date": "2023-03-26T07:17:58.078Z",
                  "price": 154.95,
                  "isLow": false
                },
                {
                  "country": "UK",
                  "date": "2023-03-29T00:05:29.035Z",
                  "price": 89.95,
                  "isLow": false
                },
                {
                  "country": "CA",
                  "date": "2023-03-31T09:55:57.538Z",
                  "price": 15.95,
                  "isLow": true
                },
                {
                  "country": "US",
                  "date": "2023-04-02T21:18:06.026Z",
                  "price": 81.3,
                  "isLow": false
                }
              ],
              "active": true,
              "num_user_complexity_votes": 2,
              "average_learning_complexity": 4,
              "average_strategy_complexity": 3.5,
              "visits": 12463,
              "lists": 775,
              "mentions": 80,
              "links": 20,
              "plays": 535,
              "rank": 374,
              "type": "game",
              "sku": "LED03000",
              "upc": " ",
              "isbn": "",
              "availability_status": "Available",
              "num_distributors": 6,
              "trending_rank": 0,
              "listing_clicks": 5,
              "is_historical_low": false,
              "skus": [
                "LED 03000",
                "Ballarat|5b1912a3-1d89-6d03-49cc-32e6883b7543",
                "OATH_EMPIRE&EXILE",
                "LED03000",
                "BG-001980-001",
                "ASK JEFF OR DYLAN",
                "672975032999",
                "LED03001",
                "LED1005",
                "2148941535",
                "0672975032999",
                "101232",
                "Ballarat|0a91b764-1c3f-11eb-e0eb-d02309c8ab74",
                "2149202264",
                "672975032111",
                "BG-001206-001",
                "LED03001 (KS + Deluxe Components + Chronicle Journal)",
                "94294:135486",
                "boardlandia-0176",
                "MATOAT001360"
              ],
              "sku_objects": [
                {
                  "name": "Boarding School Games",
                  "sku": "LED 03000"
                },
                {
                  "name": "Guf",
                  "sku": "Ballarat|5b1912a3-1d89-6d03-49cc-32e6883b7543"
                },
                {
                  "name": "Gameology",
                  "sku": "OATH_EMPIRE&EXILE"
                },
                {
                  "name": "Card Haus",
                  "sku": "LED03000"
               [...]
