---
http_interactions:
- request:
    method: get
    uri: https://api.boardgameatlas.com/api/search?client_id&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Ratelimit-Limit:
      - '420'
      X-Ratelimit-Remaining:
      - '418'
      X-Ratelimit-Reset:
      - '1689780397'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e-VIr7aRxUP67Apyc65AFzQ8RsQEs"
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "message": "Error: client_id is required for api use"
          }
        }
  recorded_at: Wed, 19 Jul 2023 15:26:07 GMT
- request:
    method: get
    uri: https://api.boardgameatlas.com/api/search?client_id=<BOARD_GAME_ATLAS_CLIENT_ID>&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json, <BOARD_GAME_ATLAS_CLIENT_ID>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '420'
      X-Ratelimit-Remaining:
      - '407'
      X-Ratelimit-Reset:
      - '1692220754'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28a8-FEFhckCKknU2Vv6Wf1Kq0HKLA3w"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "games": [
            {
              "id": "xYMo2BYgk2",
              "handle": "quests-of-valeria",
              "url": "https://www.boardgameatlas.com/game/xYMo2BYgk2/quests-of-valeria",
              "bga_edit_url": "https://www.boardgameatlas.com/game/xYMo2BYgk2/edit",
              "template_url": "/products/listing?objectId=xYMo2BYgk2&product_line=Board Games&type=product",
              "name": "Quests of Valeria",
              "price": "0.00",
              "price_ca": "21.95",
              "price_uk": "0.00",
              "price_au": "29.99",
              "msrp": 25,
              "msrps": [
                {
                  "country": "UK",
                  "price": 24.99
                },
                {
                  "country": "US",
                  "price": 25
                }
              ],
              "discount": "0.00",
              "year_published": 2017,
              "min_players": 1,
              "max_players": 5,
              "player_counts": [
                1,
                2,
                3,
                4,
                5
              ],
              "min_playtime": 30,
              "max_playtime": 45,
              "min_age": 14,
              "description": "A unique tableau-building game where players hire adventurers from a tavern to complete epic quests and gain glory for their guild!<br />\r\n<br />\r\nIn Quests of Valeria you play the role of a Guild Master, recruiting and dispatching Citizens to complete quests posted in a tavern in the Capital City of Valeria to earn Victory Points. The player with the most Victory Points at the end of the game wins. <br />\r\n<br />\r\nQuests of Valeria is a unique set collection game where players gather Citizens to fill requirements on a Quest. Hire Citizens from the line in the Tavern that provide you with additional actions to build com[...]
